In [15]:
#numpy and pandas for data manipulation
import numpy as np
import pandas as pd

#sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold

from sklearn.model_selection import StratifiedKFold

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import cross_val_predict

In [32]:
file_data = pd.read_csv('features-193.csv')

In [33]:
file_data[file_data['TARGET']==0]

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,AMT_CREDIT,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_XNA,FONDKAPREMONT_MODE_reg oper account,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Panel,EMERGENCYSTATE_MODE_No
1,0,0,0,0,1293502.5,0.003541,-16765,-1188.0,-1186.0,-291,...,0,0,0,0,0,0,1,1,0,1
2,0,1,1,1,135000.0,0.010032,-19046,-225.0,-4260.0,-2531,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,312682.5,0.008019,-19005,-3039.0,-9833.0,-2437,...,0,1,0,1,0,0,0,0,0,0
4,0,0,1,0,513000.0,0.028663,-19932,-3038.0,-4311.0,-3458,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1,0,490495.5,0.035792,-16941,-1588.0,-4970.0,-477,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307501,0,0,0,0,225000.0,0.022800,-24384,NaN,-7369.0,-2357,...,0,0,0,0,0,1,1,1,1,1
307502,0,0,1,0,254700.0,0.032561,-9327,-236.0,-8456.0,-1982,...,0,0,0,0,0,0,1,1,0,1
307503,0,0,0,0,269550.0,0.025164,-20775,NaN,-4388.0,-4090,...,0,0,0,0,0,1,1,1,0,1
307504,0,0,0,0,677664.0,0.005002,-14966,-7921.0,-6737.0,-5150,...,0,0,0,0,0,0,1,1,1,1
307506,0,0,0,0,675000.0,0.046220,-16856,-1262.0,-5128.0,-410,...,0,1,0,1,0,0,0,1,1,1

In [34]:
file_data[file_data['TARGET']==1]

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,AMT_CREDIT,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_XNA,FONDKAPREMONT_MODE_reg oper account,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Panel,EMERGENCYSTATE_MODE_No
0,1,0,1,0,406597.5,0.018801,-9461,-637.0,-3648.0,-2120,...,0,1,0,1,0,0,1,1,0,1
26,1,0,0,0,979992.0,0.018029,-18724,-2628.0,-6573.0,-1827,...,0,0,0,1,0,0,0,1,0,0
40,1,0,1,0,1193580.0,0.025164,-17482,-1262.0,-1182.0,-1029,...,0,1,0,1,0,0,0,1,0,1
42,1,0,0,0,288873.0,0.007305,-13384,-3597.0,-45.0,-4409,...,0,0,0,0,1,0,0,0,0,0
81,1,0,0,0,252000.0,0.028663,-24794,NaN,-5391.0,-4199,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307444,1,0,1,0,450000.0,0.020246,-9918,-3048.0,-8507.0,-2580,...,0,1,0,1,0,0,1,1,0,1
307471,1,0,0,0,1303200.0,0.007330,-13416,-2405.0,-500.0,-4704,...,0,1,0,0,0,0,0,1,1,1
307477,1,0,1,0,297000.0,0.008575,-20644,-3147.0,-8921.0,-3832,...,0,0,0,1,0,0,0,0,0,0
307485,1,0,0,0,521280.0,0.014464,-16471,-286.0,-8291.0,-9,...,0,0,0,1,0,0,1,1,0,0
307505,1,0,0,0,370107.0,0.005313,-11961,-4786.0,-2562.0,-931,...,0,1,0,0,0,0,0,1,0,1

In [35]:
import random
index_list = file_data[file_data['TARGET']==0].index.values.tolist()
new_data = file_data.drop(random.sample(index_list,100000))
max_size = new_data['TARGET'].value_counts().max()
print("0 - " + str(max_size))
print("1 - " + str(new_data['TARGET'].value_counts().min()))
lst = [file_data]
for class_index, group in new_data.groupby('TARGET'):
    lst.append(group.sample(max_size-len(group), replace=True))
samples = pd.concat(lst)

0 - 182682
1 - 24825

In [36]:
print("1 - " + str(samples['TARGET'].value_counts().min()))

1 - 182682

In [6]:
# # Create an anomalous flag column
samples['DAYS_EMPLOYED_ANOM'] = samples["DAYS_EMPLOYED"] == 365243

# # # Replace the anomalous values with nan
samples['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# Treating as outlier and removing
samples = samples[samples['CODE_GENDER'] != 'XNA']

train_label = samples['TARGET']
train_data = samples.drop(columns=['TARGET'])

correlations = samples.corr()

# Select upper triangle of correlation matrix
upper = correlations.where(np.triu(np.ones(correlations.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.99)]

# Drop highly correlated features
train_data = train_data.drop(train_data[to_drop], axis=1)

In [7]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in train_data:
    if train_data[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(train_data[col].unique())) <= 2:
            # Train on the training data
            le.fit(train_data[col])
            # Transform 
            train_data[col] = le.transform(train_data[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
print('%d columns were label encoded.' % le_count)

4 columns were label encoded.

In [8]:
# one-hot encoding of categorical variables
train_data = pd.get_dummies(train_data)

In [9]:
train_data['CREDIT_INCOME_PERCENT'] = train_data['AMT_CREDIT'] / train_data['AMT_INCOME_TOTAL']
train_data['ANNUITY_INCOME_PERCENT'] = train_data['AMT_ANNUITY'] / train_data['AMT_INCOME_TOTAL']
train_data['CREDIT_TERM'] = train_data['AMT_ANNUITY'] / train_data['AMT_CREDIT']
train_data['DAYS_EMPLOYED_PERCENT'] = train_data['DAYS_EMPLOYED'] / train_data['DAYS_BIRTH']

In [37]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer


# Median imputation of missing values
imputer = SimpleImputer(strategy = 'median')

# Scale each feature to 0-1
scaler = StandardScaler()

# Fit on the training data
imputer.fit(train_data)

# Transform both training and testing data
train_data = imputer.transform(train_data)

# Repeat with the scaler
scaler.fit(train_data)
train_data = scaler.transform(train_data)

print('Training data shape: ', train_data.shape)

Training data shape:  (565364, 192)

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(train_data, train_label, stratify=train_label, test_size=0.2)

In [39]:
from sklearn.model_selection import StratifiedKFold

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import cross_val_predict

# Make the model with the specified regularization parameter

# 80-20 train-test case
kf = StratifiedKFold(n_splits=5, random_state=None, shuffle=False)
log_reg = LogisticRegression(C = 0.001, max_iter=100, solver='sag', fit_intercept=True)
y_pred = cross_val_predict(estimator=log_reg , X=x_train, y=y_train, cv=kf)

from sklearn import metrics

# print(metrics.confusion_matrix(y_train, y_pred))
# print(metrics.classification_report(train_label ,y_pred))
print("roc - {}".format(metrics.roc_auc_score(y_train, y_pred)))

roc - 0.699456764692097

In [ ]:
from sklearn.model_selection import StratifiedKFold

from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import cross_val_predict

# 80-20 train-test case
mlp_kf = StratifiedKFold(n_splits=5, random_state=None, shuffle=False)

#mean of number of hidden nodes(1 layer is enough for) between input nodes and output nodes
total_hidden_nodes = int((2 + (len(samples.columns)-1))/2)
mlp = MLPClassifier(hidden_layer_sizes=(total_hidden_nodes-10,),activation='relu', solver='adam', 
                    batch_size=400, learning_rate_init=0.001, max_iter=1000, alpha=0.0001)
y_pred = cross_val_predict(estimator=mlp , X=x_train, y=y_train, cv=mlp_kf)
from sklearn import metrics

print(metrics.confusion_matrix(y_train, y_pred))
# print(metrics.classification_report(train_label ,y_pred))
print("roc - {}".format(metrics.roc_auc_score(y_train, y_pred)))

In [ ]:
from sklearn import metrics
from itertools import product
from sklearn.neural_network import MLPClassifier

hyperparameters = product(tuple((40,180,500,672, 800)), tuple((50,200, 400, 700, 1200)), 
                               tuple(( 0.1, 0.0001, 0.000001)))
mlp_kf = StratifiedKFold(n_splits=5, random_state=None, shuffle=True)
for hp in hyperparameters:
    mlp = MLPClassifier(hidden_layer_sizes=(hp[0],),activation='relu', solver='adam', 
                    batch_size=400, learning_rate_init=0.001, max_iter=hp[1], alpha=hp[2])
    y_pred = cross_val_predict(estimator=mlp , X=x_train, y=y_train, cv=mlp_kf)

    print("roc - {}".format(metrics.roc_auc_score(y_train, y_pred)))

In [16]:
452294**0.5

672.5280663288336